# Lab 4 - Combining Dataframes

## NFL Offense Data

In [10]:
import pandas as pd
import glob as glob
import numpy as np

1. Import the NFL week 3, 4, and 5 data and add a week column to dataset and set the value to 3, 4, or 5 for all rows from that week.

In [11]:
week3 = pd.read_csv("nfloffenseweek3.csv")
week4 = pd.read_csv("nfloffenseweek4.csv")
week5=pd.read_csv("nfloffenseweek5.csv")
week3["Week"] = 3
week4["Week"] = 4
week5["Week"] = 5
week3
week4
week5

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,Week
0,1,Kansas City Chiefs,5,159,1907,326,5.8,4,2,124,...,4,4.5,30,24,228,14,50.0,5.8,72.06,5
1,2,Buffalo Bills,5,152,2202,329,6.7,9,5,120,...,3,5.1,33,29,195,9,47.2,17.0,70.22,5
2,3,Detroit Lions,5,140,2059,333,6.2,6,2,107,...,7,5.4,32,30,270,9,37.9,10.3,31.13,5
3,4,Baltimore Ravens,5,138,1762,291,6.1,6,1,99,...,3,5.4,44,23,162,9,43.6,10.9,36.86,5
4,5,Philadelphia Eagles,5,135,2099,356,5.9,2,0,122,...,12,4.3,52,29,223,9,40.7,3.7,55.51,5
5,6,Cleveland Browns,5,133,1982,346,5.7,4,1,123,...,10,5.3,57,32,249,8,45.1,7.8,57.31,5
6,7,Seattle Seahawks,5,127,1840,277,6.6,7,4,98,...,4,5.5,30,44,391,11,44.7,10.6,47.51,5
7,8,Las Vegas Raiders,5,125,1803,312,5.8,5,1,105,...,3,5.3,35,34,247,8,53.1,10.2,34.91,5
8,9,Los Angeles Chargers,5,122,1952,333,5.9,4,2,103,...,4,3.9,26,25,178,9,40.0,5.5,33.03,5
9,10,Atlanta Falcons,5,118,1657,297,5.6,8,4,105,...,7,5.1,46,22,169,14,40.4,15.4,34.67,5
10,11,New York Jets,5,116,1780,345,5.2,9,4,103,...,6,4.1,23,30,362,12,35.6,15.3,1.07,5
11,12,Minnesota Vikings,5,115,1805,328,5.5,6,1,121,...,6,4.2,32,23,165,12,39.6,11.3,41.57,5
12,13,New Orleans Saints,5,115,1895,318,6.0,13,7,100,...,7,5.0,37,40,376,8,30.6,19.4,4.05,5
13,14,Miami Dolphins,5,115,1739,289,6.0,6,1,99,...,4,3.9,23,33,234,12,38.0,12.0,39.86,5
14,15,Jacksonville Jaguars,5,111,1768,323,5.5,8,4,105,...,3,4.2,29,28,205,9,37.0,14.8,15.30,5
15,16,San Francisco 49ers,5,108,1695,299,5.7,6,4,90,...,6,4.6,38,33,240,9,30.9,10.9,14.83,5
16,17,Cincinnati Bengals,5,108,1678,349,4.8,7,2,107,...,2,3.3,25,26,186,14,36.8,12.3,9.59,5
17,18,Arizona Cardinals,5,105,1761,361,4.9,3,0,112,...,5,4.3,40,32,295,6,36.0,6.0,21.28,5
18,19,New England Patriots,5,103,1729,297,5.8,10,4,96,...,5,4.6,40,26,207,7,35.3,19.6,9.44,5
19,20,New York Giants,5,103,1666,315,5.3,5,2,104,...,7,5.4,51,37,282,13,39.6,7.5,22.41,5
20,21,Tampa Bay Buccaneers,5,103,1688,320,5.3,6,5,103,...,2,3.1,20,30,251,11,35.7,8.9,9.66,5
21,22,Green Bay Packers,5,97,1811,320,5.7,7,4,107,...,3,5.0,39,24,177,7,30.9,12.7,21.74,5
22,23,Tennessee Titans,5,96,1391,282,4.9,6,3,84,...,6,3.7,26,37,331,11,29.6,7.4,2.64,5
23,24,Dallas Cowboys,5,93,1490,294,5.1,2,1,79,...,3,4.2,28,32,250,7,35.1,3.5,-6.79,5
24,25,Carolina Panthers,5,93,1357,279,4.9,7,3,71,...,3,4.4,26,28,283,8,32.1,10.7,-38.48,5
25,26,Washington Commanders,5,90,1708,345,5.0,8,2,101,...,2,3.9,28,32,335,10,22.2,12.7,-15.35,5
26,27,Houston Texans,5,86,1456,293,5.0,5,1,83,...,3,4.3,26,30,251,13,31.0,8.6,-14.95,5
27,28,Chicago Bears,5,86,1370,266,5.2,8,4,73,...,5,4.9,38,27,211,9,36.5,13.5,-5.91,5
28,29,Los Angeles Rams,5,80,1499,312,4.8,12,5,93,...,3,3.2,19,17,156,8,31.4,23.5,-19.19,5
29,30,Pittsburgh Steelers,5,77,1479,306,4.8,9,3,92,...,4,3.9,27,30,213,6,26.3,12.3,-25.01,5
30,31,Denver Broncos,5,75,1718,318,5.4,6,3,84,...,2,4.3,26,44,335,8,29.3,10.3,-18.28,5
31,32,Indianapolis Colts,5,69,1665,343,4.9,11,4,101,...,1,3.6,26,31,267,6,26.3,19.3,-33.65,5

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [12]:
df= pd.concat([week3,week4,week5], axis =0)
df

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,Week
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,2,5.6,18,8,44,5,42.9,8.6,35.63,3
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,5,5.9,20,15,129,5,40.5,5.4,31.05,3
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,1,4.7,22,20,136,6,46.7,16.7,47.46,3
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,2,4.1,15,15,124,8,45.2,6.5,40.73,3
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,6,4.4,26,23,173,6,39.4,3.0,45.06,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,28,Chicago Bears,5,86,1370,266,5.2,8,4,73,...,5,4.9,38,27,211,9,36.5,13.5,-5.91,5
28,29,Los Angeles Rams,5,80,1499,312,4.8,12,5,93,...,3,3.2,19,17,156,8,31.4,23.5,-19.19,5
29,30,Pittsburgh Steelers,5,77,1479,306,4.8,9,3,92,...,4,3.9,27,30,213,6,26.3,12.3,-25.01,5
30,31,Denver Broncos,5,75,1718,318,5.4,6,3,84,...,2,4.3,26,44,335,8,29.3,10.3,-18.28,5
31,32,Indianapolis Colts,5,69,1665,343,4.9,11,4,101,...,1,3.6,26,31,267,6,26.3,19.3,-33.65,5

3. Make up 1 interesting question about this dataset. Answer it.

In [13]:
#What are the top 5 teams with the highest amount of total yards across weeks 3 and four?
converters = df.groupby(df.team)
converters.total_yards.max().head()

team
Arizona Cardinals    1761
Atlanta Falcons      1657
Baltimore Ravens     1762
Buffalo Bills        2202
Carolina Panthers    1357
Name: total_yards, dtype: int64

## World Population Data

4. Join the height and weight data to the iq data. 
5. Join population density to quality of life data.
6. Join life expectancy to quality of life data.
7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

In [14]:
height = pd.read_csv("height_weight_data.csv")
iq = pd.read_csv("iq.csv")
height.merge(iq)

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102,"1,701",14.4
1,Montenegro,183,170,90.4,75.3,27.0,26.2,84,NaN,21.0
2,Estonia,182,168,89.9,73.7,27.0,26.0,99,459,10.1
3,Denmark,182,169,86.8,70.2,26.3,24.6,99,"3,127",12.5
4,Iceland,181,168,89.2,72.6,27.1,25.6,101,"2,443",8.1
...,...,...,...,...,...,...,...,...,...,...
89,Cambodia,165,154,59.7,52.8,22.0,22.2,88,7,32.5
90,Philippines,165,154,61.8,55.5,22.8,23.5,86,38,31.9
91,Bangladesh,165,152,57.7,50.5,21.3,21.8,77,9,29.8
92,Nepal,164,152,60.5,51.6,22.5,22.3,77,10,24.8
93,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60,30,30.9

In [15]:
pop = pd.read_csv("population_density.csv")
quality = pd.read_csv("quality_of_life.csv")
pop.merge(quality)

,country,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Singapore,719.0,5.45 M,7584.9,83,89,79,100,45,55,42
1,Bahrain,778.0,1.75 M,2247.2,59,45,61,92,63,72,29
2,Maldives,300.0,0.54 M,1812.1,64,39,72,87,63,59,18
3,Malta,320.0,0.52 M,1615.2,86,72,91,92,75,41,44
4,Bangladesh,147630.0,166.30 M,1126.5,43,26,44,74,50,61,33
...,...,...,...,...,...,...,...,...,...,...,...
56,Finland,338450.0,5.54 M,16.4,85,100,87,93,17,46,32
57,Norway,385203.0,5.41 M,14.0,89,99,90,99,17,42,37
58,Russia,17098250.0,143.45 M,8.4,47,26,74,75,33,62,43
59,Canada,9984670.0,38.25 M,3.8,85,92,78,97,33,37,45
60,Australia,7741220.0,25.74 M,3.3,86,92,87,100,90,23,41

In [16]:
life= pd.read_csv("life_expectancy.csv")
life.merge(quality)

,country,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity
0,Hong Kong,82.9,88.0,5.8,6.8,77,85,100,97,49,61,52
1,Iceland,81.7,84.5,12.3,7.8,82,92,87,97,7,36,33
2,Japan,81.6,87.7,6.8,8.8,87,86,92,97,54,27,41
3,Norway,81.6,84.9,9.8,9.8,89,99,90,99,17,42,37
4,Singapore,81.5,86.1,8.5,10.8,83,89,79,100,45,55,42
...,...,...,...,...,...,...,...,...,...,...,...,...
99,Angola,58.7,64.4,39.8,7.8,27,24,10,55,63,53,31
100,Cameroon,58.4,60.9,34.4,8.9,40,19,9,27,60,51,34
101,Ivory Coast,56.9,59.5,35.2,9.7,47,36,11,58,53,57,37
102,Nigeria,54.1,56.0,37.0,11.4,18,24,12,23,54,57,39
103,Chad,53.1,55.9,41.2,11.7,46,12,0,31,50,49,44

In [19]:
df= pd.concat([height, life, pop, quality])
df.fillna(0)

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,male_life_expectancy,female_life_expectancy,birth_rate,...,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Netherlands,184.0,170.0,87.9,73.2,26.1,25.3,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Montenegro,183.0,170.0,90.4,75.3,27.0,26.2,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Estonia,182.0,168.0,89.9,73.7,27.0,26.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Denmark,182.0,169.0,86.8,70.2,26.3,24.6,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bosnia and Herzegovina,182.0,167.0,87.1,70.6,26.4,25.3,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,40.0,19.0,9.0,27.0,60.0,51.0,34.0
133,Nigeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,18.0,24.0,12.0,23.0,54.0,57.0,39.0
134,Chad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,46.0,12.0,0.0,31.0,50.0,49.0,44.0
135,Sudan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,8.0,11.0,18.0,55.0,40.0,66.0,24.0
136,Congo (Dem. Republic),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,32.0,7.0,6.0,10.0,54.0,60.0,36.0

8. Make up 1 interesting question about one of these datasets and answer it.

In [21]:
# Which countries spend a minimal amount of money and what is the iq of their population?
not_smart=iq[(iq['iq']).min()]
not_smart

KeyError: 56

9. Make up 1 interesting question about one of these datasets and answer it.

In [ ]:
#what country has the highest male body weight, and the lowest height?

fat_men = height[(height.male_weight).max() & (height.male_height)]
fat_men

TypeError: Cannot perform 'rand_' with a dtyped [int64] array and scalar of type [bool]

10. Make up 1 interesting question about one of these datasets and answer it.

In [ ]:
# Where is the median country of population density located?
middle = pop[pop.population].median()
middle

KeyError: "None of [Index(['0.66 M', '0.04 M', '5.45 M', '7.41 M', '0.03 M', '0.00 M', '1.75 M',\n       '0.54 M', '0.52 M', '0.04 M', '0.06 M', '166.30 M', '0.07 M', '0.10 M',\n       '4.92 M', '0.04 M', '0.26 M', '0.29 M', '23.58 M', '6.77 M', '1.27 M',\n       '0.11 M', '0.03 M', '51.74 M', '0.01 M', '13.28 M', '0.89 M', '0.01 M',\n       '12.26 M', '9.36 M', '1,393.41 M', '17.53 M', '11.54 M', '11.59 M',\n       '111.05 M', '3.26 M', '0.40 M', '0.15 M', '22.16 M', '125.68 M',\n       '0.11 M', '0.06 M', '0.17 M', '6.52 M', '0.11 M', '0.18 M', '98.17 M',\n       '0.11 M', '225.20 M', '67.33 M', '2.93 M', '0.64 M', '83.13 M',\n       '211.40 M', '8.70 M', '59.07 M', '1,412.36 M', '276.36 M', '5.86 M',\n       '69.95 M', '67.50 M', '37.78 M', '9.99 M', '10.30 M', '85.04 M',\n       '104.26 M', '32.78 M', '16.95 M', '47.33 M', '10.66 M', '19.12 M',\n       '0.44 M', '43.81 M', '5.03 M', '17.89 M', '130.26 M', '39.84 M',\n       '27.22 M', '60.04 M', '85.03 M', '331.89 M', '213.99 M', '10.42 M',\n       '5.12 M', '45.81 M', '35.34 M', '5.54 M', '5.41 M', '143.45 M',\n       '38.25 M', '25.74 M'],\n      dtype='object')] are in the [columns]"